html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url("https://i.pinimg.com/736x/bc/18/9d/bc189d973dd82746f6ee5a820e7b4c9f.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}